*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    
}

:root{
    --myGap: 30px;
    --internalItems: white;
    --headerBgColor: #255ee9;
    --introductionElem: coral;
    --footerBgColor: #23272a;
}

a{
    color: white;
    text-decoration: none;
}

/* formattazione header */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--myGap);
    padding:2% 8%;
    background-color: var(--headerBgColor);
}

nav.menu-header ul{
    display: flex;
    gap: var(--myGap);
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding-block: 1%;
    text-transform: capitalize;
}

nav.menu-header ul li{
    color: white;
    text-align: center;
}

button{
    padding: 10px;
    border-radius: 15px;
}
header button{
    border: white;
}


/* formattazione introduzione e download */

.introduction{
    width: 100%;
    color:white;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction h1{
    line-height: 180%;
}

.introduction p{
    text-align: center;
    width: 40%;
    font-size: small;
}
.download{
    display: flex;
    justify-content:space-around;
    gap: var(--myGap);
    margin-bottom: 50px;
}



.download :first-child{
    background-color:white;
    border-color: white;
}

.download :last-child{
    color: white;
    background-color:#202326;
}

/* formattazione contenuto principale */

main{
    display: flex;
    gap: var(--myGap);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main>
div.dettagli{
    display: flex;
    width: 80%;
    align-items: center;
}
.dettagli figure{
    width: 72%;
    height: 100%;
    overflow: hidden;
    padding-block: 5%;
    text-align: center;
}
.dettagli figure img{
    width: 80%;
}
.dettagli div{
    width: 18%;
    height: 80%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--myGap);
}
.dettagli div h2,
.dettagli div p{
    width: 90%;
}

.dettagli div h2{
    max-height: 60%;
}

.dispari{
    flex-direction: row-reverse;
}
.large{
    flex-direction: column;
    justify-content: center;
    gap: var(--myGap);
}
.large figure{
    height: 60%;
}
.large h2,
.large p,
.large h3{
    height: 8%;
    width: 65%;
    text-align: center;
    background-color: aqua;
}
.dettagli button{
    width: 20%;
    height: 5%;
    background-color: coral;
}

/* formattazione footer */

footer .footer-links{
    background-color: var(--footerBgColor);
    height: 400px;
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
}

.social{
    background-color: aquamarine;
    height: 100%;
    width: 30%;
}

.menu-footer{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    gap: var(--myGap);
}

.footer-col{
    width: calc(100%/4);
    background-color: silver;
}

hr{
    color: white;
}

.piedipagina{
    display: flex;
    justify-content: space-between;
    background-color: var(--footerBgColor);
    padding: 3%;
}

.piedipagina figure,
.piedipagina>button{
    width: 100px;
    height: 50px;
    background-color: var(--internalItems);
}